pytesseract==0.3.10
Pillow==9.5.0
opencv-python==4.8.1.78
pyautogui==0.9.53
pynput==1.7.6
openai==1.106.1
SQLAlchemy==2.0.26
colorama==0.4.6
loguru==0.7.3
pydantic==2.7.0
pydantic_core==2.18.1
pydantic-settings==2.10.1
python-dotenv==1.1.1